:root {
color-scheme: dark;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    width: 100%;
    overflow-x: hidden;
    background-color: #121212 !important; 
    color: #ffffff !important; 
}

#root {
    width: 100%;
}

html{
    scroll-behavior: smooth;
}